USE [master]
GO
/****** Object:  Database [FullStack]    Script Date: 5/27/2026 4:34:51 PM ******/
CREATE DATABASE [FullStack]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FullStack', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\FullStack.mdf' , SIZE = 8192KB , MAXSIZE = 1048576KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FullStack_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\FullStack_log.ldf' , SIZE = 8192KB , MAXSIZE = 1048576KB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FullStack].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FullStack]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5/27/2026 4:34:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5/27/2026 4:34:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [Email]) VALUES (1, N'James Taylor', N'james.taylor@email.com')
INSERT [dbo].[Customers] ([Id], [Name], [Email]) VALUES (2, N'Maria Garcia', N'maria.garcia@email.com')
INSERT [dbo].[Customers] ([Id], [Name], [Email]) VALUES (3, N'William Rodriguez', N'william.rodriguez@email.com')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [Email]) VALUES (1, N'John Smith', N'john.smith@company.com')
INSERT [dbo].[Employees] ([Id], [Name], [Email]) VALUES (2, N'Sarah Johnson', N'sarah.johnson@company.com')
INSERT [dbo].[Employees] ([Id], [Name], [Email]) VALUES (3, N'Michael Chen', N'michael.chen@company.com')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
USE [master]
GO
